<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Welcome to learn Soft Skills</title>


  {% load static %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
  <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " />
  <link rel="stylesheet" href=" {% static 'css/templatemo-style.css' %} " />
<!--
Verticard Template
https://templatemo.com/tm-533-verticard
-->
</head>

<body>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">FLY</h1>

    </header>

    <section class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li class="active">
            <a href=""><span class="tm-nav-deco"></span>Introduction</a>
          </li>
          <li>
            <a href="/initiative"><span class="tm-nav-deco"></span>Taking Initiative</a>
          </li>
          <li>
            <a href="/innovativeness"><span class="tm-nav-deco"></span>Innovativeness</a>
          </li>
          <li>
            <a href="/perseverance"><span class="tm-nav-deco"></span>Perseverance</a>
          </li>
          <li>
            <a href="/conscientiousness"><span class="tm-nav-deco"></span>Conscientiousness</a>
          </li>
          <li>
            <a href="/problemsolving"><span class="tm-nav-deco"></span>Problem Solving</a>
          </li>
        </ul>
      </nav>
      <div class="tm-content-container">
        <figure class="mb-0">
          <img src=" {% static 'img/mainp.jpg' %} " alt="Image" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
          <h2 class="tm-page-title">Finding the Leader in You (FLY)</h2>
          <p class="mb-4" style="text-align:justify">
            Leadership is the ability to lead yourself to achieve your personal and professional goals and objectives, while also helping the company or organization you work for to be successful. It involves having a good understanding of who you are, where you want to go and what you can accomplish, and having the ability to control your emotions and behavior in a way that guides you toward success.
          </p>
          <h2 class="tm-page-title">Now the question is :<br> What is the need to find the leader in yourself?</h2>
          <p>
            Self-leadership is important because it is necessary to help you accomplish your professional goals and to be a good leader to others. Good leaders must have the ability to lead by example. In business, self-leadership actually benefits the organization as a whole, in addition to the individual. Self-leadership allows a leader to influence others to take action so that the goals of the organization are met.

In addition to helping you achieve your own personal goals for your life and career, benefits of self-leadership include:
<ul><li>
          Makes you more efficient and productive</li><li>
Keeps you motivated and accountable</li><li>
Builds stronger relationships with co-workers</li><li>
Inspires others to follow your lead
</li></ul>         <br><br> </p>

          <h2 class="tm-page-title">Now, How can you find the leader in yourself ?</h2>
          <p class="mb-4" style="text-align:justify">
            One interesting thing about leadership is that it exists in everbody, just you need to find it out. You can find the leader in you by working on 5 pillars that are mentioned above on the same page.
            Go through each one of them.
          </p>
        </div>
      </div>
    </section>

  </div>
</body>

</html>