<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Taking Initiative</title>
{% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/templatemo-style.css' %} " />

    <style>
        .wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    </style>
<!--
Verticard Template
https://templatemo.com/tm-533-verticard

Template re-distribution is NOT allowed on any kind of download website. Thank you.

-->
</head>

<body>
      <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">FLY</h1>

    </header>

    <section class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li>
            <a href=""><span class="tm-nav-deco"></span>Introduction</a>
          </li>
          <li class="active">
            <a href="/initiative"><span class="tm-nav-deco"></span>Taking Initiative</a>
          </li>
          <li>
            <a href="/innovativeness"><span class="tm-nav-deco"></span>Innovativeness</a>
          </li>
          <li>
            <a href="/perseverance"><span class="tm-nav-deco"></span>Perseverance</a>
          </li>
          <li>
            <a href="/conscientiousness"><span class="tm-nav-deco"></span>Conscientiousness</a>
          </li>
          <li>
            <a href="/problemsolving"><span class="tm-nav-deco"></span>Problem Solving</a>
          </li>
        </ul>
      </nav>
        <div class="tm-content-container">
        <figure class="mb-0">
          <img src=" {% static 'img/initi.jpg' %} " alt="Image" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
            <h2 class="tm-page-title">Taking Initiative</h2>
            <p class="mb-4" style="text-align:justify">
            Work behavior characterized by its self-starting nature, its proactive approach, and by being persistent in overcoming difficulties that arise in pursuit of a goal.
          </p>
            <p class="mb-4" style="text-align:justify">
                When you show initiative, you do things without being told; you find out what you need to know; you keep going when things get tough; and you spot and take advantage of opportunities that others pass by. You act, instead of reacting, at work.
            </p>

            <h2 class="tm-page-title">To Know more go through the video</h2>

<div class="wrapper">
      <iframe class="align-self-center" width="500" height="250" src="https://www.youtube.com/embed/F45Mw6LB4XI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


        </div>
      </div>
    </section>

  </div>

</body>

</html>