<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Perseverance</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/templatemo-style.css' %} " />

    <style>
        .wrapper {
            position: relative;
            padding-bottom: 56.25%;
            /* 16:9 */
            padding-top: 25px;
            height: 0;
        }

        .wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <!--
Verticard Template
https://templatemo.com/tm-533-verticard

Template re-distribution is NOT allowed on any kind of download website. Thank you.

-->
</head>

<body>
    <div class="tm-page-container mx-auto">
        <header class="tm-header text-center">
            <h1 class="tm-title text-uppercase">FLY</h1>

        </header>

        <section class="tm-section">
            <nav class="tm-nav">
                <ul>
                    <li>
                        <a href=""><span class="tm-nav-deco"></span>Introduction</a>
                    </li>
                    <li>
                        <a href="/initiative"><span class="tm-nav-deco"></span>Taking Initiative</a>
                    </li>
                    <li>
                        <a href="/innovativeness"><span class="tm-nav-deco"></span>Innovativeness</a>
                    </li>
                    <li class="active">
                        <a href="/perseverance"><span class="tm-nav-deco"></span>Perseverance</a>
                    </li>
                    <li>
                        <a href="/conscientiousness"><span class="tm-nav-deco"></span>Conscientiousness</a>
                    </li>
                    <li>
                        <a href="/problemsolving"><span class="tm-nav-deco"></span>Problem Solving</a>
                    </li>
                </ul>
            </nav>
            <div class="tm-content-container">
                <figure class="mb-0">
                    <img src=" {% static 'img/perse.jpg' %} " alt="Image" class="img-fluid tm-img" />
                </figure>
                <div class="tm-content">
                    <h2 class="tm-page-title">Perseverance</h2>
                    <p class="mb-4" style="text-align:justify">
                        Perseverance is the quality of those who persevere—continue to do or try to achieve something
                        despite difficulty or discouragement. Perseverance can also refer to the act of persevering, as
                        in Only through hard work and perseverance will we be able to achieve our goal—it will not be
                        easy. </p>
                    <p class="mb-4" style="text-align:justify">
                        Perseverance is a very important character trait for you to be successful in life. It means
                        determination at working hard regardless of any odds or obstacles that may exist. It is to
                        insist and to be firm on getting something done and not giving up.
                    </p>

                    <h2 class="tm-page-title">To Know more go through the video</h2>

                    <div class="wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7hByu8MvIiU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>


                </div>
            </div>
        </section>
    </div>

</body>

</html>